<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deepfake Audio Detection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Navigation Bar -->
<header>
    <div class="logo">Deepfake Audio Detection</div>
</header>


<!-- Main Section -->

<section class="main">

    <div class="icon">
        <img src="logo.png" alt="Audio Icon">
    </div>
    

    <h1>Deepfake Audio Detection</h1>

    <p>
        Detect whether an audio clip is real or fake.
    </p>

    <h3>Protect Yourself From Fake Audio</h3>

    <div class="buttons">

        <button class="check" onclick="location.href='/upload'">
            Check Audio
        </button>


    </div>

</section>


<!-- Features Section -->

<section class="features">

<div class="card">
    <h2>Fast Detection</h2>
    <p>Quick and accurate results</p>
</div>

<div class="card">
    <h2>Easy to Use</h2>
    <p>Simple and user friendly</p>
</div>

<div class="card">
    <h2>Powered by AI</h2>
    <p>Advanced deep learning model</p>
</div>

</section>

</body>
</html>